{% extends 'stem/base.html' %}
{% block title %}О сайте{% endblock %}
{% block content %}
    <h1>О проекте STEM</h1>
    <p>STEM — это современная платформа, разработанная для управления задачами и напоминаниями. Наша цель — предоставить пользователям удобный и интуитивный инструмент для организации повседневной жизни.</p>
    <p>Проект создан с использованием соврименных технологий, чтобы соответствовать требованиям 2025 года.</p>
    <h2>Контакты</h2>
    <p>Свяжитесь с нами: <a href="mailto:AZITTIZA@yandex.ru">AZITTIZA@yandex.ru</a></p>
{% endblock %}