{% extends 'stem/base.html' %}

{% block title %}Добавить задачу{% endblock %}

{% block content %}
    <h1>Добавить задачу</h1>
    <form method="post">
        <label for="title">Название задачи</label>
        <input type="text" id="title" name="title" required>
        
        <label for="description">Описание</label>
        <textarea id="description" name="description"></textarea>
        
        <label for="reminder">Время напоминания</label>
        <input type="datetime-local" id="reminder" name="reminder">
        
        <button type="submit">Сохранить</button>
    </form>
    <a href="{% url 'stem:index' %}">Назад</a>
{% endblock %}